---
import { Experiencia } from "../components/Experiencia";
import Acercademi from "../components/Acercademi.astro";
import Estudios from "../components/Estudios.astro";
import { CallIcon, WhatsAppIcon } from "../components/Icons";
import { TelegramIcon } from "../components/Icons";
import { EmailIcon, GithubIcon, LinkedimIcon } from "../components/Icons";
import Proyectos from "../components/Proyectos.astro";
import Tecnologias from "../components/Tecnologias.astro";
import Layout from "../layouts/Layout.astro";
import Presentacion from "../components/Presentacion.astro";
---

<Layout title="Index">
  <main
    class="relative justify-center items-center p-5 flex flex-col gap-16 divide-y divide-dotted hover:divide-solid"
  >
    <div class="flex flex-row gap-28"><Presentacion /></div>
    <div class="w-full" id="acerca"><Acercademi /></div>
    <div class="w-full" id="estudios"><Estudios /></div>
    <div class="w-full" id="experiencia"><Experiencia client:load /></div>

    <div class="w-full" id="mi-stack">
      <Tecnologias />
    </div>
    <div class="w-full"><Proyectos /></div>
  </main>
</Layout>

<style>
  .transformed {
    /* idéntico a rotateZ(45deg); */
    transform: rotate(45deg);
    background-color: blue;
  }
</style>
<script></script>
