---

---

<div class="flex flex-col gap-7 mt-7">
  <h1 class="font-extrabold text-4xl text-orange-200">Acerca de mí</h1>
  <div class="text-xl text-zinc-200">
    Ingeniero informático con experiencia profesional en el desarrollo de
    software, programación de equipos de cómputo, reparación de equipos
    electrónicos y docencia universitaria. Ofrezco soluciones informáticas
    integrales orientadas a resolver problemas empresariales. Mi campo de
    especialización es el diseño y programación de sistemas informáticos y la
    reparación de dispositivos móviles y ordenadores.
  </div>
</div>
