---

---

<div class="flex flex-col gap-7 mt-7">
  <h1 class="font-extrabold text-4xl text-blue-400">Estudios</h1>
  <div class="flex flex-col gap-3 text-xl text-zinc-400 hover:text-zinc-200">
    <p>
      Ingeniero en Ciencias Informáticas. Universidad de Granma (Cuba).
      2009-2014.
    </p>
    <p>
      Técnico Medio en Informática. Instituto Politécnico de Informática "Pepito
      Tey" (Cuba). 2005-2008.
    </p>
  </div>
</div>
