---
import { GitHubLogoIcon } from "@radix-ui/react-icons";
import { GithubIcon, GithubIconCard, HtmlIcon, HtmlIconCard } from "./Icons";

interface Props {
  name: string;
  tecnologies: string[];
  url: string;
  img: string;
}

const { name, tecnologies, url, img } = Astro.props;
---

<article class="group relative">
  <a
    href={url}
    class="flex flex-col w-56 h-72 transition-all duration-300 relative p-2 overflow-hidden gap-3 rounded-md shadow-lg hover:shadow-xl hover:bg-zinc-800 bg-zinc-500/30"
  >
    <picture class="flex-none h-[60%]">
      <img src={img} class="h-[70%] w-full" alt="" />
    </picture>
    <div class="">
      <h4 class="text-white text-sm">
        {name}
      </h4>
      <span class="text-xs text-zinc-400">{tecnologies}</span>
    </div>
    <div class="flex flex-row justify-around">
      <div class="h-10 w-10"><HtmlIconCard /></div>
      <div class="h-10 w-10"><GithubIconCard /></div>
    </div>
  </a>
</article>
